<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZV656f7MXtK-8VKhQALH01Sl-L8NxSIk</string>
	<key>GCM_SENDER_ID</key>
	<string>181744374672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lws.ecommerce</string>
	<key>PROJECT_ID</key>
	<string>lws-e-commerce</string>
	<key>STORAGE_BUCKET</key>
	<string>lws-e-commerce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181744374672:ios:5ee2b52a5b86a1927d5915</string>
</dict>
</plist>